.kandian {
    width: 100%;
    height: 1000px;
    background-color: coral;
    display: none;
}
.kandian1 {
    width: 100%;
    height: 120px;
    background-color: coral;
    display: flex;
}
.dibu {
    position: fixed;
}